{% include("partials/_header.twig") %}

{% block header %}
    <section class="hero is-dark is-medium parallax">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include("partials/_navigation.twig") %}
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container">
                <h1 style="font-size: 3rem;" class="title">
                   {{page.title}}
                </h1>
                <h2 style="font-size: 1.5rem;" class="subtitle">
                    {{page.teaser}}
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    {% block sidebar %}
    {% endblock %}
{% endblock %}

{{ include("partials/_footer.twig")}}