{% include("partials/_header.twig") %}

{% block header %}
    <section class="hero is-dark is-medium parallax">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            {% include("partials/_navigation.twig") %}
        </div>
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container">
                <h1 style="font-size: 3rem;" class="title">
                    The Blog Part
                </h1>
                <h2 style="font-size: 1.5rem;" class="subtitle">
                    I Chat Shit about coding and tech here or something
                </h2>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section class="section">
    <!-- Featured -->
    <div class="container-fluid">
        <div class="columns">
            <div class="column">
                <p style="font-size: 2rem;" class="title is-centered">
                    Recent Blog Posts
                </p>
                {% setcontent entries = 'news/latest/5' %}
                <div class="columns is-multiline">
                    <div class="column is-8">
                        {% for entry in entries %}
                        <!-- start of post -->
                            <div class="box">
                            <!-- box header -->
                            <div class="box-header">
                                <h4 class="title is-4">
                                    {{ entry.title }}
                                </h4>
                                <small>By: {{ entry.author }}</small>
                            </div>
                            <!-- end of box header -->
                            <!-- box content -->
                            <div class="box-content">
                                <div class="columns">
                                    <div class="column is-3">
                                        <img src="/images/bolt-logo.png" alt="">
                                    </div>
                                    <div class="column">
                                        <div class="box-content-text">
                                            <p>
                                                {{entry.text}}
                                            </p>
                                        </div>
                                        <div class="has-text-right">
                                            <a class="button is-small" href="blog-single.html">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end box content -->
                        </div>
                        <!-- end of post -->
                        {% endfor %}
                        <!-- pagination -->
                        <nav class="pagination">
                            <div class="pagination-fields">
                                <a class="button" href="">Previous Page</a>
                                <a class="button" href="">Next page</a>
                            </div>
                        </nav>
                        <!-- end of pagination -->
                    </div>
                    <!-- sidebar content -->
                    <div class="column">
                        <!-- sidebar subscriptions -->
                        <div class="card-wrapper">
                            <!-- sidebar content -->
                            <div class="column is-12">
                                <!-- sidebar subscriptions -->
                                <div class="card-wrapper">
                                    <div class="card-header">
                                        <h1 class="card-header-title">Browse Around...</h1>
                                    </div>
                                    <div class="card">
                                        <div class="card-content has-no-decoration">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of sidebar subscriptions -->
                    </div>
                    <!-- end of sidebar content -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{{ include("partials/_footer.twig")}}