
<footer class="footer">
    <div class="large-12 columns is-centered">
        <p>
            {{
            __("© Cameron Miller 2019 • This Site is <a href='%url%'> Built With Bolt</a> and</p> <a href='%url2%'> <img src='%img1' alt='Made Beautiful With Bulma' width='150' height='50'/></a>",
            {'%url%':'http://bolt.cm', '%url2%':'https://bulma.io', '%img1':asset('images/made-with-bulma--semiblack.png', 'files')})
            }}
        </p>
     </div>
</footer>
{% block JavaScript %}
    <script src="{{ asset('https://kit.fontawesome.com/da949d9c49.js', 'theme') }}"></script>
    <script src="{{ asset('assets/js/theme.js', 'theme') }}"></script>
{% endblock %}