<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% setcontent page = 'page/blog' %}
    <title>Cameron's Dev Blog | {{ page.title }}</title>
    {% block Stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bulma.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/theme.css', 'theme') }}">
    {% endblock %}
</head>
<body>
