{% include 'partials/_header.twig' %}
<section class="hero is-dark is-fullheight-with-navbar parallax">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        {% include 'partials/_navigation.twig' %}
    </div>
<!-- Hero content: will be in the middle -->
<div class="hero-body">
    <div style="position: relative; bottom: 108px;" class="container has-text-centered">
        <h1 style="font-size: 3rem;" class="title">
           {{ page.title }}
        </h1>
        <h2 style="font-size: 1.5rem;" class="subtitle">
            {{ page.teaser }}
        </h2>
    </div>
    <img class="vert" src="{{ asset('images/green-heart.png', 'files') }}" alt="CPU Green Heart"/>
</div>
</section>

<section class="section">
    <!-- Featured -->
    <div class="container-fluid">
        <div class="columns">
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <p style="font-size: 2rem;" class="title is-centered">
                                Vert comes to discord, but only one (psst, its my discord).
                            </p>
                            <br>
                            <p class="subtitle">
                                Vert's goal from the start was to be a private version and to some extent, the test bed
                                for what Nep will end up getting as she is the public facing bot, so there are SOME
                                differences in how they are coded, since one is made for everyone and one was intended
                                for one server. So keep that in mind if you decide to use her, on that note actually, she
                                uses <a href="https://b1naryth1ef.github.io/disco">Disco</a> instead of <a href="https://discordpy.readthedocs.io/en/latest/index.html">Discord.py</a>.
                            </p>
                        </div>
                    </div>
                    <div class="tile is-4 is-parent">
                        <div class="tile is-child box ">
                            <p style="font-size: 2rem;" class="title is-centered">
                                Wait so, Who's Vert?
                            </p>
                            <br>
                            <p class="subtitle">
                                Vert is another one of the main reoccurring Characters in the HyperDimension Neptunia Series Of Games.<br>
                                She loves gaming, and thinks quite tactically due to how many raids she participates in on a daily F**king basis,
                                i think the WHO need to give her a Diagnosis to be honest...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section parallax">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p style="font-size: 2rem;" class="title is-centered">
                        What Can She Do?
                    </p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p style="font-size: 2rem;" class="title is-centered">
                        Moderation
                    </p>
                    <p class="subtitle">
                        All the Normal Moderation commands are here, <br>
                        • Kicking <br>
                        • Soft/Banning <br>
                        • Message Pruning <br>
                        • Role Creation / Deletion / Moderation <br>
                        • Mod Logs (in addition to the built in logs with discord)

                    </p>
                </div>
            </div>
            <div class="tile is-4 is-parent">
                <div class="tile is-child box ">
                    <p style="font-size: 2rem;" class="title is-centered">
                        Memes
                    </p>
                    <p class="subtitle">
                        Meme the shit out of someone if you feel like it!<br>
                        Currently sends someone a random choice of all the popular meme playlists.
                    </p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child box">
                    <p style="font-size: 2rem;" class="title is-centered">
                        Other Commands
                    </p>
                    <p class="subtitle">
                        All the Other commands at her disposal, <br>
                        • <br>
                        • <br>
                        • <br>
                        • <br>
                        • <br>
                        •

                    </p>
                </div>
            </div>
            <div class="tile is-4 is-parent">
                <div class="tile is-child box ">
                    <p style="font-size: 2rem;" class="title is-centered">
                        Music
                    </p>
                    <p class="subtitle">
                        No Bot nowadays is complete without being able to blast your favourite earrape meme song at your friends!
                        <br>
                        Oh and it can be used for normal music too.
                    </p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile has-text-centered is-child box">
                    <p style="font-size: 2rem;" class="title is-centered">
                        Click the Button to go to the Docs page for more in depth Information!
                    </p>
                    <a href="#" class="button ">Read the F**kin Docs!</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'partials/_footer.twig' %}